doctype html
html
  include common/head.pug
  +head("Error")
  body
    header
      .container
        .row
          .col-md-12
            h1(style="text-align: center; padding-top: 10vh;")= message
            h2.text-danger(style="text-align: center; padding-bottom: 10vh;")= error.status
            pre.text-danger #{error.stack}